.emailDisplay p {
  font-size: 0.9375rem;
}

.secondTitle {
  font-size: 1.4rem;
  color: rgb(27, 27, 27);
  margin-top: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.form {
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.form input {
  width: 100%;
  padding-block: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-inline: none;
  border-top: none;
}

.form button[type="submit"] {
  background: #0067b8;
  color: white;
  padding: 7px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 110px;
}

.flexLinks {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}

.flexLinks a {
  font-size: 11px;
}

.form button[type="submit"]:hover {
  background: #0061aa;
}
